.git
.gitignore
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
.env
.env.*
README.md
RENDER_DEPLOYMENT.md
